<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="internal-nlog.txt"
      internalLogLevel="Error">

    <targets>

        <target xsi:type="File" name="allfile"
                layout="${date:format=MMdd HH\:mm\:ss} ${machinename} ${logger} [${uppercase:${level}}]:${message} ${exception:format=ShortType,Method,Message:separator=,}"

                enableArchiveFileCompression="true"
                maxArchiveFiles="30"
                archiveAboveSize="104857600"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd_HHmm"
                fileName="/data/log/dotnetcore/order_ota_adpter/app-prd${#}.log"
                keepFileOpen="true"
                openFileCacheTimeout="30"
                concurrentWrites="true"

        />

        <target xsi:type="File" name="errorfile"
                layout="${date:format=MMdd HH\:mm\:ss} ${machinename} ${logger} [${uppercase:${level}}]:${message} ${exception:format=ShortType,Method,Message:separator=,}"

                enableArchiveFileCompression="true"
                maxArchiveFiles="30"
                archiveAboveSize="104857600"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd_HHmm"
                fileName="/data/log/dotnetcore/order_ota_adpter/app-prd-error{#}.log"
                keepFileOpen="true"
                openFileCacheTimeout="30"
                concurrentWrites="true"
        />

        <target xsi:type="Console"
                name="console"
                layout="${date:format=yyyyMMdd HH\:mm\:ss} ${machinename} ${logger} [${uppercase:${level}}]:${message} ${exception:format=ShortType,Method,Message:separator=,}"
                encoding="UTF-8"
                error="false"
                detectConsoleAvailable="true" />

        <target xsi:type="Null" name="blackhole" />

    </targets>

    <rules>®

        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="*" minlevel="Error" writeTo="errorfile" />

    </rules>
</nlog>